core, action=set-property, target-element-klass=Sink, property-name=sync, property-value=false

validatessim, is-config=true, output-video-format="I420", reference-video-format="I420", min-avg-priority=0.999
validatessim, element-name=iraw, output-dir=/tmp/test/before-dec/
validatessim, element-name=dec, output-dir=/tmp/test/after-dec/, \
      reference-images-dir=/tmp/test/before-dec/, \
      result-output-dir=/tmp/test/failures, check-recurrence=5.0
